* {
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  all:unset;
}


/* Modules */
.modules-left {
  background-color: #1E1E2E;
  border-radius: 10px;
}

.modules-center {
  background-color: #1E1E2E;
  border-radius: 10px;
  padding: 0 10px;
}

#hardware {
  background-color: #1E1E2E;
  border-radius: 10px;
}


/* Workspaces */
#workspaces button {
  padding: 0 3px;
  color: #939CB6;
}

#workspaces button:hover {
  background: none;
}
#workspaces button.active {
  color: #fff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

/* Other modules */
#workspaces,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#bluetooth,
#custom-hyprPicker,
#custom-power-menu,
#custom-fan,
#privacy,
#custom-mic,
#custom-cam,
#custom-power {
  color: #ffffff;
  margin: 0 10px;
}

#custom-mic,
#custom-cam {
  margin: 0 0 0 15px;
  color: coral;
}

#clock {
  background-color: #1E1E2E;
  border-radius: 10px;
}

#custom-power {
  background-color: #1E1E2E;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 8px;
}

#pulseaudio {
  color: #D9D4D0;
}

/* Animation used on critical baterry alert */
@keyframes blink {
  to {
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#network.disconnected {
  color: #f53c3c;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  padding-right: 17px;
  color: #939CB6;
}

#idle_inhibitor.activated {
  color: #ffffff;
}

#bluetooth {
  font-size: 16px;
  color: #69E8FF;
}
