*{
    font-family: "FontAwesome";
}

window {
    border-radius: 15px 15px 15px 15px;
    background-color: #42515d;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    border-bottom: 0px solid black;
    background-color: #1b1d2d;
    color: white;
    opacity: 0.2;
}

#inner-box {
    margin: 5px;
    background-color: #1b1d2d;
}

#outer-box {
    margin: 2px;
    padding:20px;
    background-color: #1b1d2d;
    border-radius: 15px 15px 15px 15px;
}

#scroll {
    
}

#text {
    margin: 5px;
    color: white;
}

#entry:selected {
    background-color: #212f3f;
}

#text:selected {
    text-decoration-color: white;
}
